/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 5rem;

  /*========== Colores ==========*/
  --title-color: #0B0A0A;
  --text-color: #403A3A;
  --text-color-light: #707070;
  --container-color: #FAFAFA;
  --container-color-alt: #F0EFEF;
  --body-color: #FCFCFC;

  --btn-color: rgba(255, 255, 255, 0.15);
  --btn-color-hover: rgba(255, 255, 255, 0.35);

  --triangle1: #0ea1e6;
  --triangle1--: #0e67c7;

  --triangle2: #ee8105;
  --triangle2--: #c7371e;

  --triangle3: #1b8fc5;
  --triangle3--: #df0f8f;

  /*========== Fuente y Tamaños ==========*/
  --body-font: 'Poppins', sans-serif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .875rem;
  --smaller-font-size: .813rem;

  /*========== Grosor de la Letra ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes ==========*/
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== BASE ==========*/
*,::before,::after{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

/*========== Variables Dark theme ==========*/
body.dark-theme{
    --title-color: #F2F2F2;
    --text-color: #BFBFBF;
    --container-color: #212121;
    --container-color-alt: #181616;
    --body-color: #2B2B2B;

    --btn-color: rgba(255, 255, 255, 0.85);
    --btn-color-hover: rgba(255, 255, 255, 0.65);
}



/*========== Button Dark/Light ==========*/
.change-theme{
    position: absolute;
    display: flex;
    color: var(--text-color);
    top: 2rem;
    margin-right: 4rem;
    font-size: 1.5rem;
    cursor: pointer;
}
  
.change-theme:hover{
    color: var(--title-color);
}

/*========== TIPOGRAFIA, MARGENES, BACKGROUND Y ESPACIOS ==========*/
body{
    margin: 0 0 var(--header-height) 0;
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}


/*========== BACKGROUND CON EFECTO DE MOVIMIENTO ==========*/
.container__background-triangle{
    max-width: 1200px;
    height: 600px;
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.triangle{
    width: 300px;
    height: 300px;
    background: red;
    position: absolute;
}

.triangle1{
    width: 250px;
    height: 250px;
    background: linear-gradient(to left, var(--triangle1), var(--triangle1--));
    right: 100px;
    top: 100px;
    animation: t1 8s ease infinite;
}

.triangle2{
    width: 200px;
    height: 200px;
    background: linear-gradient(to left, var(--triangle2), var(--triangle2--));
    top: 350px;
    animation: t2 9s ease infinite;
}

.triangle3{
    width: 300px;
    height: 300px;
    background: linear-gradient(to left, var(--triangle3), var(--triangle3--));
    left: 200px;
    animation: t3 7s ease infinite;
}

@keyframes t1 {
    0%{
        transform: rotate(45deg) translateY(0px);
    }
    50%{
        transform: rotate(45deg) translateY(20px);
    }
    100%{
        transform: rotate(45deg) translateY(0px);
    }
}

@keyframes t2 {
    0%{
        transform: rotate(65deg) translateY(0px);
    }
    50%{
        transform: rotate(65deg) translateY(20px);
    }
    100%{
        transform: rotate(65deg) translateY(0px);
    }
}

@keyframes t3 {
    0%{
        transform: rotate(45deg) translateY(0px);
    }
    50%{
        transform: rotate(45deg) translateY(20px);
    }
    100%{
        transform: rotate(45deg) translateY(0px);
    }
}
  
h1,h2,h3,ul,p{
    margin: 0;
}
  
h1,h2,h3{
    color: var(--title-color);
    font-weight: var(--font-medium);
}

hr{
    border: none;
    background: var(--title-color);
}
  
ul{ 
    padding: 0;
    list-style: none;
}
  
a{ 
    text-decoration: none;
}
  
img{
    max-width: 100%; 
    height: auto;
}
/*========== CLASS CSS ==========*/

/*========== LAYOUT ==========*/
.logo__img{
    margin-top: 0.5rem;
    width: 180px;
  }

.bd-container{
    max-width: 1200px;
    width: calc(100% - 3rem);
    justify-content: flex;
    align-items: center;
    margin-left: var(--mb-3);
    margin-right: var(--mb-3);
}
  
.mb-grid{
    display: grid;
    gap: 1.5rem;
}
  
.l-header{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--container-color);
    box-shadow: 0 -2px 4px rgba(0,0,0,.1);
    transition: .3s;
}
/*========== NAV ==========*/
.nav{
    height: var(--header-height);
    display: flex;
    align-items: center;
}

/* Menu para PC */
.desktop__menu{
    display: none;
}

.desktop__adminlog{
    display: none;
}

/* Menu para PC y Disp. Moviles */
.nav__menu{
    background-color: var(--container-color);
    box-shadow: 0 -2px 4px var(--title-color);
    transition: 300ms;
}
  
@media screen and (max-width: 1200px){ /*========== Menu desplegable (Disp. Moviles) ==========*/
    .nav__menu{
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    padding: 2rem 1.5rem;
    background-color: var(--body-color);
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    border-radius: 1rem 1rem 0 0;
    z-index: var(--z-fixed);
    transition: 300ms;
    }
}
  
.nav__logo,
.nav__toggle{
    color: var(--title-color);
    font-weight: var(--font-medium);
}
  
.nav__toggle{
    font-size: 1.5rem;
    cursor: pointer; 
}
  
.nav__item{ 
    text-align: center;
}
  
.nav__list{ /* Acomoda el menu de forma espaciada y en cuadros (Disp. Moviles) */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
  
.nav__link{ /* Cambia color de las letras e iconos de menu, hace mas pequeña la letra y hace cuadros proporcionales (Disp. Moviles) */
    display: flex;
    flex-direction: column;
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
    font-weight: var(--font-medium);
}
  
.nav__link:hover{ /* Al pasar el cursor cambia de color las opciones del menu (Disp. Moviles) */
    color: var(--title-color);
}
  
.nav__icon{
    font-size: 1.5rem; /* Espaciado entre el icono y el texto de la opcion del menu (Disp. Moviles) */
    margin-bottom: var(--mb-1);
}

.movile__icon{
    position: absolute;
    font-size: 1.5rem; /*  (Disp. Moviles) */
    color: var(--text-color);
    top: 2rem;
    right: 2.5rem;
}

.movile__icon:hover{
    color: var(--title-color);
}
  
/* Desplegar Menu en Dispositivos Moviles */
.show-menu{ /* Permite que el menu se despliegue hacia arriba o abajo por la funcion "showMenu" en el archivo .js (Disp. Moviles) */
    bottom: var(--header-height);
}
  
/* Active menu link */
.active-link{
    color: var(--title-color);
}
/* Desplegar Menu en Dispositivos Moviles */

/* Active menu link - Denota color mas oscuro al link activo*/

/*========== SCROLL HACIA ARRIBA ==========*/
.scrolltop{
    position: fixed;
    right: 1rem;
    bottom: -20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3rem;
    background-color: var(--container-color-alt);
    border-radius: .4rem;
    z-index: var(--z-tooltip);
    transition: .4s;
    visibility: hidden;
}
  
.scrolltop__icon{
    font-size: 1.2rem;
    color: var(--text-color);
}
  
.show-scroll{ /* Aparece flecha hacia arriba cuando nos desplazamos hacia abajo */
    visibility: visible;
    bottom: 5rem;
}

/*========== MEDIA QUERIES ==========*/
/* Para dispositivos muchisimo más pequeños, el menu se convierte en dos columnas */
@media screen and (max-width: 320px){
    .nav__list{
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem .5rem;
    }
}
  
/* CLASES PARA LA VERSION EN COMPUTADORA */
@media screen and (min-width: 1200px){
    body{
        margin: 3rem 0;
    }

    .bd-container{ 
        max-width: 100%;
        margin-left: var(--mb-3);
        margin-right: var(--mb-3);
    }

    .l-header{
        display: inline-flex;
        width: 100%;
        height: var(--header-height);
        top: 0;
        right: 0;
        z-index: var(--z-fixed);
        justify-content: space-between;
        align-items: center;
        background-color: var(--container-color);
        box-shadow: 0 2px 4px rgba(0,0,0,.1);
    }

    /* Mostrar menu de PC */
    .nav{
        justify-content: space-between;
    }

    .desktop__menu{
        display: flex;
    }
    
    .nav .desktop__menu ul{
        display: flex;
    }

    .desktop__menu ul{
        margin: auto;
    }

    .desktop__menu ul li{
        list-style: none;
        padding: 0px 30px;
    }

    .desktop__menu ul li a{
        font-size: 16px;
        text-decoration: none;
        color: var(--title-color);
        transition: 300ms;
    }

    .desktop__menu ul li a:hover{
        opacity: 0.6;
    }

    .desktop__adminlog{
        display: flex;
    }

    .btn__header-register{
        border: 1px solid var(--text-color);
        background-color: rgba(255, 255, 255, 0.05);
        color: var(--title-color);
        padding: 1rem 2rem;
        border-radius: .25rem;
        font-weight: var(--font-medium);
        font-size: 16px;
        cursor: pointer;
        transition: 300ms;
    }

    .btn__header-register:hover{
        box-shadow: 3px 3px 7px var(--text-color);
        transform: scale(1.1);
    }

    .desktop__darkmode{
        display: flex;
    }

    .change-theme{
        margin-left: none;
        margin-right: 0;
    }

    .nav__toggle{
        display: none;
    }

    .nav__menu{
        display: none;
    }
}